# Credenciales del proyecto de Supabase
# Dashboard → Project Settings → API
NEXT_PUBLIC_SUPABASE_URL=https://wpznfpmcbfsnedwbmjhj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indwem5mcG1jYmZzbmVkd2JtamhqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY0OTY0MTMsImV4cCI6MjEwMjA3MjQxM30.4mmVk2iMqzazBKOFjyOhNI5IKuBb2V6xKSzisNhoWr0

