# Credenciales gratis en https://icd.who.int/icdapi/Account/AccessKey
ICD11_CLIENT_ID=tu_client_id
ICD11_CLIENT_SECRET=tu_client_secret

# Opcionales:
# ICD11_RELEASE=2024-01
# ICD11_LINEARIZATION=mms
